<%= provide(:title, @event.title + " Approve participation ") %>
<h1>Approve participation</h1>

 <table class="table table-striped table-bordered table-condensed">
  <tr><th>Participant</th>
  <th> status</th>
   <th> Start Time </th>
   <th> End Time</th>
   </tr>
<%= form_tag  participations_update_path, :action => "update" ,:method => :put do %>  
  <% for part in @participations %>   
    <%= fields_for "participations[]", part do |f| %> 
    <% x=true%>
    <div><%= f.hidden_field :user_id %></div>
  <div><%= f.hidden_field :event_id %></div> 
  <div><%= f.hidden_field :approval ,:value => true%></div>
 <tr><td>  
        <%= gravatar_for part.user,52 %>
        <%=link_to part.user.first_name + " "+ part.user.last_name, part.user %>
        
        </td> 
  <% y=false %>
 <td width= 140px ><div class="controls" >
   <% ["attend","not attend"].each do |x| %> 
    <label class="radio inline">
    <% if x=="attend" %>
     <% y=true%>
      <% else %>
       <% y=false%>
       <% end %>
         <%= f.radio_button :attend, y %><%= x %> 
          <% end %> 
      </label> 

  </div>
   </td>
<td width=305px>
  <%= f.datetime_select(:start_time, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => Time.now.year},{:style => 'width: 53px;font-size:10px; height:25Px'} ) %>
 </td>
 <td width=305px>
<%= f.datetime_select(:end_time, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => Time.now.year},{:style => 'width: 53px;font-size:10px; height:25Px'} ) %>
  
 </td>
</tr>     
    <% end %>   
  <% end %>   
<tr>
 <td colspan="4" class="cenetr"><%= submit_tag "Approve",class: "btn btn-small btn-primay" %></p>  </td>  
<% end %> 
</table>
<%= link_to 'back', @event %> |

