<%= provide(:title,'Reset Password') %>

<div class="container">  
	<row class="span12">  
		 <div class="well span3">
			<h4> Reset Password</h4>
				<%= form_tag password_resets_path, :method => :post do %>
				<div class="field">
					 <%=label_tag :email %>
					 <%= text_field_tag :email,params[:email]%>
				</div>
				<div class="actions">
					<%= submit_tag "Reset Password",class: "btn btn-small btn-primary" %>
				</div>
				<% end %>
		</div>
	</row>
</div>