<%= form_for(@pastevent) do |f| %>
  <% if @pastevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pastevent.errors.count, "error") %> prohibited this pastevent from being saved:</h2>

      <ul>
      <% @pastevent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label "Organization Name" %><br />
    <%= f.text_field :orgname %>
  </div>
  <div class="field">
    <%= f.label "Location" %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label "Total Volunteer Hours" %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label "Organization Administrator name" %><br />
    <%= f.text_field :adminname %>
  </div>
  <div class="field">
    <%= f.label "Administrator's email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Start Date" %><br />
    <%= f.date_select(:start_date, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => Time.now.year},{:style => 'width: 60px'} ) %>
  </div>
  
  <div class="field">
   <%= f.label "End Date" %><br />
   <%= f.date_select(:end_date, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => Time.now.year},{:style => 'width: 60px'} ) %>
  </div>

  <div class="field">
    <%= f.hidden_field :approval %>
    <br />
  </div>
  <div class ="field">
    <%= f.check_box :disclamer %> <b>I agree that this request to approve past volunteer hours is genuine to the best of my knowledge</b> 
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Add Past Event",class: "btn btn-large btn-primay"%>
  </div>

<% end %>