<%=render 'users/tabup' %>
<%= form_for(@pastevent) do |f| %>
  <% if @pastevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pastevent.errors.count, "error") %> prohibited this pastevent from being saved:</h2>

      <ul>
      <% @pastevent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well span8">
<div class="field">
    <%= f.label "Organization Name" %>
    <%= f.text_field :orgname %><br />
  </div>
  <div class="field">
    <%= f.label "Location" %>
    <%= f.text_field :location %><br />
  </div>
  <div class="field">
    <%= f.label "Total Volunteer Hours" %>
    <%= f.text_field :hours %><br />
  </div>
  <div class="field">
    <%= f.label "Organization Administrator name" %>
    <%= f.text_field :adminname %><br />
  </div>
  <div class="field">
    <%= f.label "Administrator's email" %>
    <%= f.text_field :email %><br />
  </div>
  <div class="field">
    <%= f.label "Start Date" %>
    <%= f.date_select(:start_date, {:use_short_month => 1, :order => [:month, :day, :year]},{:style => 'width: 60px'} ) %><br />
  </div>
  
  <div class="field">
   <%= f.label "End Date" %>
   <%= f.date_select(:end_date, {:use_short_month => 1, :order => [:month, :day, :year]},{:style => 'width: 60px'} ) %><br />
  </div>

  <div class="field">
    <%= f.hidden_field :approval %>
    <br />
  </div>
  <div class ="field">
    <%= f.check_box :disclamer %> <b>I agree that this request to approve past volunteer hours is genuine to the best of my knowledge</b> 
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Add Past Event",class: "btn btn-large btn-primary"%>
  </div>
</div>
<% end %>