<tr>
	<td>
	<%= pastevent.start_date.to_s[0,10] + " to " +pastevent.end_date.to_s[0,10]%>
	</td>
<td>
 <%= link_to 'Past Event', pastevent_path(pastevent) %>
</td>
<td>
<%= pastevent.orgname%>
</td>
 <td>

 <%= pastevent.hours %>
 	</td>
<td><%= pastevent.adminname%>
	</td>
	<td>
		<% if pastevent.approval==true %>
		 	Approved 
		<% elsif pastevent.approval==nil%>
		 	Waiting
		<% else pastevent.approval==false%>
		 	Not Approved
		<%end%>
	</td>
</tr>