<%= render '/events/tabup'%>
<%= form_for(@reflection) do |f| %>
  <% if @reflection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reflection.errors.count, "error") %> prohibited this reflection from being saved:</h2>

      <ul>
      <% @reflection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well span8">
    <h4>Inspire other by your reflection to <%= @event.title%></h4>
    <ul class="users">
    <%=render "users/user" ,user:current_user %>
 </ul>

  <div class="field">
   <br />
    <%= f.text_area :u_reflection, :style => "width:380px"  %>
    <%= f.hidden_field :r_id,:value => @part_id %>
  </div>
  <div class="actions">
    <%= f.submit "Post your reflection ",class: "btn btn btn-primary" %>
  </div>
<% end %>
</div>