<%= render '/events/tabup'%>
<% provide(:title,'Participant Reflections') %>
<% if !@reflections.first.nil?%>
<div class="well span8">
  <h4><%= "Participant Reflections" + " " + Event.find(Participation.find(@reflections.first.r_id).event_id).title + " Event" %></h4><br />
<% @reflections.each do |reflection| %>
  
    <div class="reflection">
     <ul class='users'>
    <%=render "users/user" ,user: User.find(Participation.find(reflection.r_id ).user_id)%></td></tr>
   
    <%= reflection.u_reflection %>
    <br />
     </ul>
   <% if current_user?(User.find(Participation.find(reflection.r_id ).user_id))%>
    <%= link_to 'Edit <i class="icon-pencil"></i>'.html_safe, edit_reflection_path(reflection),class: "btn btn-small btn-primary" %>
    <%= link_to 'Delete <i class="icon-remove"></i>'.html_safe, reflection, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-small btn-primary"%>
   <%end %>
   

 </div>
</div>
<% end %>
<% else%>
<h2>Be the first to inspire other</h2>
<%= link_to 'Inspire other by your Reflection',new_event_reflection_path(@event),class: "btn btn-small 
 btn-primary"%>
<% end %>

<br />


