<p id="notice"><%= notice %></p>

<p>
  <b>R:</b>
  <%= @reflection.r_id %>
</p>

<p>
  <b>U reflection:</b>
  <%= @reflection.u_reflection %>
</p>


<%= link_to 'Edit', edit_reflection_path(@reflection) %> |
<%= link_to 'Back', reflections_path %>
