<% provide(:title,@group.name)%>
<% if signed_in? == false%>
<% else %>

<% if (current_user.memberships.where("group_id=? And member=?",@group.id,"Creator")).empty? == false || (current_user.memberships.where("group_id=? And member=?",@group.id,"Admin")).empty? ==false %>
<%= link_to 'Edit', edit_group_path(@group), class: "btn btn-small btn-primay" %> |
<%= link_to 'Create Event', new_group_event_path(@group) ,class: "btn btn-small btn-primay"%> |
<%= link_to 'Invite Member', new_group_invitation_path(@group), class: "btn btn-small btn-primay" %> 
<% else %>
<% if (current_user.memberships.where("group_id=? And member=?",@group.id,"Member")) .empty?%>
<%= link_to 'Join Us', new_group_join_path(@group), class: "btn btn-large btn-primay" %> 
<% end %>
<% end %>
<% end %>
<aside >
    <section>
      <br />
      <table>
        <tr>
          <td  valign="top" colspan="4"> 
             <h2> <%= @group.name.upcase %> PROFILE</h2> 
           </td>
         </tr>
         <tr>
          <td valign="top">
  <% if @group.photo.url=="/photos/original/missing.png" %>
  <%= image_tag "community.jpg",width: "200"%>
  <%else %>
  <%= image_tag @group.photo.url,width: "200"%>
 <% end %>
 <p><b>email:</b> <br />
  <%= @group.email %>
</p><br />
  <b> Creator:</b> <br />
  <p>
  <% user=User.find(@group.memberships.find_by_member("Creator").user_id) %>
  <%= link_to  user.first_name + " " + user.last_name ,user %>
</p>
</td> 
  <td style='padding-left:15px '>
  <p><b>Description:</b> <br />
  <%= @group.description %>
</p>
<p>
 <b> Address:</b><br />
<%= @group.address %><br />
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@group.latitude}%2C#{@group.longitude}" %>
<br />
</p>

<h3>Nearby locations</h3>

</td>
</section>
</tr>
<tr>
  

    <section>
  <% if @group.events.any? %>
   <h3>Group Events (<%= @group.events.count %>)</h3>
   <h3>Group total voulnteer hours is  (<%= grouphourtracker1(@group.events)%>)</h3>
  <% end %>
  <ol class="users">
   <%= render @events %>
 </ol>
  </section>
  </tr>
</aside>

</table>