<h2> <%= @group.name %> profile</h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Tags:</b>
  <%= @group.tags %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>
<p>
	<b> Creator:</b>
	<%= @group.user.first_name %>
</p>


<%= link_to 'Edit', edit_group_path(@group), class: "btn btn-small btn-primay" %> |
<%= link_to 'Create Event', newevent_path ,class: "btn btn-small btn-primay"%>
