<div class="container">  
<row class="span12">  
 <div class="well span10">
<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages"%>
  <h4>Sign up To Volunteer Hours</h4>
  <br />
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br />
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br />
      <div class="controls" >
   <%= f.label "Gender"  %>
     <% ["Female","Male","Other"].each do |x| %> 
    <label class="radio inline">
      <%= f.radio_button :gender, x %><%= x %>  
      </label> 
    <% end %>
    </div><br />
     <div class ="field">
    <%= f.check_box :privacy %> <b>Do you want your profile NOT to be searchable in voulnteer hours website</b> 
    </div> <br />
    <%= f.label :email  %>
    <%= f.text_field :email  %><br />
    <%= f.label  "Password (must include a number min: 6 characters, max: 20 characters" %>
    <%= f.password_field :password %><br />
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %><br />
  <div class="actions">
    <%= f.submit "Create my account" ,class: "btn btn-large btn-primary"%>
  </div>
<% end %>
</div>
</div>
</div>