
<div class="row">
  <div class="span9 offset3">
<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages"%>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  <p>Gender</p> 
    <% [ 'Female', 'Male', 'Other'].each do |gender| %> 
      <%= f.radio_button  :gender , gender %> 
       <%= f.label :gender , gender.humanize  %> 
    <% end %> 
<br>
    <%= f.label :email  %><br />
    <%= f.text_field :email  %>
    <%= f.label :password %><br />
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  <div class="actions">
    <%= f.submit "Create my account" ,class: "btn btn-large btn-primay"%>
  </div>
<% end %>
</div>
</div>