<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages"%>
  <aside class "span5">
    <section>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    
      <div class="controls" >
   <%= f.label "Gender"  %>
     <% ["Female","Male","Other"].each do |x| %> 
    <label class="radio inline">
      <%= f.radio_button :gender, x %><%= x %>  
      </label> 
    
    <% end %>
    </div> 
<br>
    <%= f.label :email  %><br />

    <%= f.text_field :email  %>
    <%= f.label  "Password (must be minimum 6 characters, includes 
                a symbol and a number)" %><br />
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  <div class="actions">
    <%= f.submit "Create my account" ,class: "btn btn-large btn-primay"%>
  </div>
<% end %>
</div>
</div>
</section>
</aside>
