<% provide(:title,@user.first_name + " " +@user.last_name)%>
<%=render 'users/tabup' %>
 <div class="well span8">
<%= gravatar_for @user,60 %>
<ul class="nav nav-list">  
        <li class="nav-header"><%=@user.first_name + " " +@user.last_name%> Karma</li>
</ul>

    <table  class="table table-striped table-bordered table-condensed">
    <tr>
    	<th> Group
    	</th>
    	<th>
    		Total volunteer hours
    	 </th>
    	 <th>
    	 	Badge
    	 </th>
    	  </tr>
    	 <% @membership.each do |member|%>
    	 <tr>
    	 <td> <%= link_to Group.find(member.group_id).name,Group.find(member.group_id)%>
    	 </td>
    	 <td> <%= member.total_hours%> </td>
    
    	     <% if (Group.find(member.group_id).gamification && (!member.total_hours.nil? && member.total_hours > 0) )%>
    	     <% x=badgefinder(Group.find(member.group_id),member.total_hours)%>
             <td> <%= x%></td>
            <% else%>
<td> </td>
             <% end %>
    	 </tr>
    	 <% end %>
    	</table>
</div>