<%= provide(:title,'Edit Profile') %>
<%=render 'users/tabup' %>
<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages"%>
  <div class="well span8">
    <h4>Edit my Profile</h4>
    <br />
  <%= gravatar_for @user,120 %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br />
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br />
     <div class ="field">
    <%= f.check_box :privacy %> <b>Do you want your profile NOT to be searchable in voulnteer hours website</b> <br />
  </div>
    <div class="controls" >
   <%= f.label "Gender"  %>
     <% ["Female","Male","Other"].each do |x| %> 
    <label class="radio inline">
      <%= f.radio_button :gender, x %><%= x %>  
      </label> 
    <% end %>
    </div> 
<br />
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <%= f.label :password %>
    <%= f.password_field :password %><br />
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation %><br />
    <%= f.submit "Save changes" ,class: "btn btn-large btn-primary"%>
<% end %>
</div>
</row>