<% provide(:title,@user.first_name + " " +@user.last_name)%>
<h1> Hour tracker </h1>

<%= gravatar_for @user,100 %>
<h2 ><%=@user.first_name + " " +@user.last_name%></h2>

    <table  class="table table-striped table-bordered table-condensed">
    <tr>
    	<th> Total volnteer hours
    	</th>
    	<th>
    		<%=hourtracker1(@user)%>
    	 </th>
      </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed">
    	
       <tr>
        <td colspan="6", class="cenetr">
    	 <h3>My participations (<%=  @participations.count %>)</h3>
      </td>
      </tr>
<tr>
  <th>Date</th>
  <th>
    Event
  </th>
  <th> Sponser</td>
  <th>
    Duration
  </th>
  <th>
    verivied by
  </th>
  <th>
   <%= form_tag(users_hourtracker_path, :class => 'form-search', :method => 'get') do %>
             <%= select_tag :types, options_for_select([["All", "All"], ["Approved", "Approved"],["Waiting", "Waiting"],["not approved", "not approved"]],:selected => @types),{:style => 'width: 65px;font-size:10px', }  %> 

           <%= submit_tag "result",:name => nil, :class => 'btn btn-small btn-primary' %>
           <% end %>
  </th>
</tr>
     <tr>
       <% if  @participations.any? %>
   <%= render @participations %>

         <% end %>
    </tr>
    

</table>