<% provide(:title,@user.first_name)%>
<%=render 'users/tabup' %>
<div class="container-fluid">  
  <div class="row-fluid">  
    <div class="span4">  
      <div class="well sidebar-nav">  
       <ul class="nav nav-list">  
        <li class="nav-header">  <%= @user.first_name.upcase + " "+@user.last_name.upcase %> PROFILE </li><li><%= gravatar_for @user,50 %></li>
        <li><%= @user.gender %></li>
         <li><%= @user.email %></li>
       </ul>
     </div>
  </div>

  <div class="span6 wrapper clearfix">
 <div class="well sidebar-nav">  
            <ul class="nav nav-list">
               <% if @user.events.any? %>
   <li class="nav-header">My Events (<%= @user.events.count %>)</li>
  <ol class="users">
   <%= render @events %>
              
      <% end %>
    </ul>
      </div>
    </div>
  </div>
   <div class="row-fluid"> 
    <div class="span4">
 <div class="well sidebar-nav"> 
  <ul class="nav nav-list">
   <% if @user.groups.any? %>
            <li class="nav-header">My Groups (<%= @user.groups.count %>)</li>
           <ol class="users">
          <%= render @user.groups  %>

      </ol>
        <% end %>
      </ul>
  </div>
    </div> 
     </div>
   </div>
  </row>



