<% provide(:title,@user.first_name)%>
<%=render 'users/tabup' %>
<div class="container-fluid">  
  <div class="row-fluid">  
    <div class="span4">  
      <div class="well sidebar-nav">  
       <ul class="nav nav-list">  
        <li class="nav-header">  <%= @user.first_name.upcase + " "+@user.last_name.upcase %> PROFILE </li><li><%= gravatar_for @user,50 %></li>
        <li><%= @user.gender %></li>
         <li><%= @user.email %></li>
       </ul>
     </div>
     <div class="well sidebar-nav"> 
  <ul class="nav nav-list">
   <% if @user.groups.any? %>
            <li class="nav-header">My Groups (<%= @user.groups.count %>)</li>
           <ol class="users">
          <%= render @user.groups  %>

      </ol>
      <%else%>
        <li>You are not a member of any groups yet</li> 
       <%end%>
      </ul>
  </div>
  </div>

  <div class="span6 ">
 <div class="well sidebar-nav">  
            <ul class="nav nav-list">
              
   <li class="nav-header">My Events (<%= @user.events.count %>)</li>
    <% if @user.events.any? %>
  <ol class="users">
   <%= render @events %>
         </ol>  
         <%else%>
         <li>You don't have any events yet</li>   
      <% end %>
    </ul>
      </div>
    </div>
  </div>
   
 
    </div> 
     </div>
   </div>
  </row>



