<% provide(:title,@user.first_name)%>
<table >
  <tr>
    <td>
  <aside class "span4">
    <section>
 <h2> <%= @user.last_name.upcase %> PROFILE <h2>
  <%= link_to 'Edit my profile', edit_user_path(@user) ,class: "btn btn-small btn-primay" %> |
<%= link_to 'My Hour Tracker', users_hourtracker_path(@user) ,class: "btn btn-small btn-primay" %>|
<%= link_to "Add past voulnteer events", new_user_pastevent_path(@user) ,class: "btn btn-small btn-primay" %>
<%= link_to 'Community Carma', "#" ,class: "btn btn-small btn-primay" %>|
<%= link_to 'My Preference', "#" ,class: "btn btn-small btn-primay" %>|
<%= link_to 'Create Group', newgroup_path ,class: "btn btn-small btn-primay" %>
 <h1>
  </td>
</tr>
<tr> 
  <td>
  <%= gravatar_for @user,200 %>
  <% @user.first_name %>
</h1>
<h3> User card </h3>
<br />
  <b>First name:</b>
  <%= @user.first_name %>
</p>
 
<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

</section>

</aside>
</td>
<td valign="top">
  <aside class "span4">
    <section style="margin-left:50px" >
       <% if @user.groups.any? %>
      <h3 >My Groups (<%= @user.groups.count %>)</h3>
      <ol class="users">
        <%= render @user.groups  %>
      </ol>
    <%= will_paginate @groups %>
    <% end %>
  </section>
</aside>
</tr>
<tr>
<td>
  <aside class "span4">
    <section>
  <% if @user.events.any? %>
   <h3>My Events (<%= @user.events.count %>)</h3>
  <% end %>
  <ol class="users">
   <%= render @events %>
 </ol>
  </section>
</aside>
</td>
</tr>

  </table>



