<% provide(:title,@user.first_name)%>

<h2> <%= @user.last_name %> profile <h2>
<div class="row">
  <aside class "span4">
    <section>
 <h1>
  <%= gravatar_for @user,200 %>
  <% @user.first_name %>
</h1>
</section>
</aside>
<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>
 
<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>


<%= link_to 'Edit my profile', edit_user_path(@user) ,class: "btn btn-small btn-primay" %> |
<%= link_to 'Create Group', newgroup_path ,class: "btn btn-small btn-primay" %>
