<% provide(:title,@user.first_name)%>
  <aside class "span4">
    <section>
 <h2> <%= @user.last_name.upcase %> PROFILE <h2>
 <h1>
  <%= gravatar_for @user,200 %>
  <% @user.first_name %>
</h1>
<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>
 
<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>


<%= link_to 'Edit my profile', edit_user_path(@user) ,class: "btn btn-small btn-primay" %> |
<%= link_to 'Create Group', newgroup_path ,class: "btn btn-small btn-primay" %>
</section>

</aside>
<aside class "offset8">
    <section>

    <% if @user.group.any? %>
      <h3>My Groups (<%= @user.group.count %>)</h3>
      <ol class="users">
        <%= render @user.group  %>
      </ol>
    <%= will_paginate @groups %>
    <% end %>
</section>
</aside>
</div>
  



