<%=render 'groups/tabup' %>
<%= form_for([@group, @group.events.build]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="well span8">
  <h4>Create New Event</h4>
  <br />
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title , width: "750px"%><br />
  </div>
  <div class="field">
    <%= f.label :category %>
   <%= f.select :category, options_for_select([["Children", "Children"], ["Homeless", "Homeless"],["Elderly", "Elderly"],["Education","Education"],["Environment","Environment"],["Other","Other"]]) %> 
  </div><br />
  
  
  <div class="field">
      <%= f.label "Start time" %>
      
   <%= f.datetime_select(:starttime, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => DateTime.now.year},{:style => 'width: 60px'} ) %><br />
  </div>
  <div class="field">
    <%= f.label "End Time" %>
    <%= f.datetime_select(:endtime, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => DateTime.now.year},{:style => 'width: 60px'} ) %>
  </div>
  <br />

  <div class="field">
     <%= f.check_box :recurring%> Is this a recurring event(note: recurres every week)?
  </div>
  <br />

  <div class = "field">
    <%= f.label "End Date"%>
    <%= f.date_select(:recurring_ends, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => DateTime.now.year},{:style => 'width: 60px'} ) %> 
  </div>
  <br />

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <br />

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description ,rows: 10 %>
  </div>
  <br />
  <div class="field">
    <%= f.label "please add a picture to your event" %>
  <%= f.file_field :photo %>
</div>
<br />
  <div class="actions">
    <%= f.submit "Save ", class: "btn btn-large btn-primay" %>
  </div>
</div>
<% end %>