<%= provide(:title,'Edit '+ @event.title) %>
<%= render '/events/tabup'%>

<%= form_for(@event ,:url => update_event_path(params[:id])) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="well span8">
  <h4>Create New Event</h4>
  <br />
    <%= f.label :title %>
    <%= f.text_field :title , width: "750px"%><br />
    <%= f.label :category %>
   <%= f.select :category, options_for_select([["Children", "Children"], ["Homeless", "Homeless"],["Elderly", "Elderly"],["Education","Education"],["Environment","Environment"],["Other","Other"]]) %> <br />
      <%= f.label "Start time" %>
   <%= f.datetime_select(:starttime, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => Time.now.year},{:style => 'width: 60px'} ) %><br />
    <%= f.label "End Time" %>
    <%= f.datetime_select(:endtime, {:use_short_month => 1, :order => [:month, :day, :year], :start_year => Time.now.year},{:style => 'width: 60px'} ) %><br />
    <%= f.label :location %>
    <%= f.text_field :location %><br />
    <%= f.label :description %>
    <%= f.text_area :description ,rows: 10 %>
 <br />
    <%= f.label "please add a picutre to your event" %>
  <%= f.file_field :photo %><br />
    <%= f.submit "Save ", class: "btn btn-large btn-primary" %>
 
<% end %>
</div>
