<%= provide(:title, @event.title) %>
 <%= render '/events/tabup'%>
 <div class="container-fluid">  
  <div class="row-fluid">  
    <div class="span8">  
      <div class="well sidebar-nav">  
       <ul class="nav nav-list">  
        <li class="nav-header"> 
         <%= @event.title.upcase %> PROFILE </li>
                 <% if @event.photo.url=="/photos/original/missing.png" %>  <%= image_tag "Help-Wanted-Sign.jpg",width: "200"%> 
                  <%else %>
               <%= image_tag @event.photo.url,width: "300"%>
                  <% end %> 
                  <h4> Category:</h4>
                  <%= @event.category %> 
                  <br />  
                   <h4>Event time:</h4>
                    from <%= @event.starttime.to_s[0,16]%> 
                    To <%= @event.endtime.to_s[0,16]%>
                    <br/>  
                      <% if @event.recurring?%><h4>  <%= "This is a Recurring Event that ends on " + @event.recurring_ends.to_s[0,10]%></h4>
                      <br/>  
                      <%end%>
                      <h4>Location:</h4> 
                       <%= @event.location %>
                       <br/>  
                       <h4>Event information:</h4>  <%= @event.description %>
                      </ul>
                  </div>
                </div>

                 <% if @event.participations.any? %> 
                 <div class="span4">  
      <div class="well sidebar-nav">  
       <ul class="nav nav-list">    
                             <li class='nav-header'>Event Participants(<%= @event.participations.count %>)</li>
                             <ol class="users">        
                              <%= render @users %>      </ol> 
                                  <% end %> 
                                </ul>
                                </div>
                                </div>
                                </div>
