<%= provide(:title, @event.title) %>
<% if signed_in? &&(current_user.participations.where("event_id=? And user_id=?",@event.id,current_user).empty?) %>
 <%= link_to "Join this event ",new_event_participation_path(@event), class: "btn btn-large 
 btn-primay" %>
 <% elsif signed_in?  %>
 <%= link_to "leave this event ",new_event_participation_path(@event), class: "btn btn-large 
 btn-primay" %>
 <% end %>

<table>
  <tr>
    <td>
 <%= image_tag @event.photo.url %>


    </td>
  <td>
    <aside class "span4">
    <section style="margin-left:50px">
      <br />
      <br />
  <h2>  <%= @event.title %> Event</h2>
<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Starttime:</b>
  <%= @event.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @event.endtime %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <h3>Event information:</h3>
  <%= @event.description %>
</p>
</td>
<td>
  </td>
</tr>
</table>
</aside>
</section>
<%= link_to 'Edit', edit_event_path(@event) %> |

