<div class="well span8">

<%= form_for([@group, @group.sent_invitations.build]) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4>please insert your members emails here each email in new line</h4><br />
  <div class="field center">
   
    <%= f.text_area :invited_members, size: "50x20" %>
  </div>
  
  <div class="actions center">
    <%= f.submit " Invite members now" , class: "btn btn-larg btn-primary" %>
  </div>
<% end %>
</div>