<h1>Listing branchtests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Branch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @branchtests.each do |branchtest| %>
  <tr>
    <td><%= branchtest.name %></td>
    <td><%= branchtest.branch %></td>
    <td><%= link_to 'Show', branchtest %></td>
    <td><%= link_to 'Edit', edit_branchtest_path(branchtest) %></td>
    <td><%= link_to 'Destroy', branchtest, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Branchtest', new_branchtest_path %>
