<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<%= link_to "Community Tracker",root_path,id: "logo" %>
    <div class="container">
		<nav>
			<ul class ="nav pull-right">
			      <li><%= link_to "Home", root_path%></li>
            <li><%= link_to "about us", aboutus_path%></li>
            <li><%= link_to "Stories", stories_path%></li>
            <li><%= link_to "Sign In", "#"%></li>
        </ul>
		</nav>
  </nav>
	</div>
</header>