<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <title>Volunteer Hours |<%=yield(:title)%></title>
  <%= stylesheet_link_tag    "application", media:"all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <%= render '/layouts/shim'%>
</head>
<body>
<%= render '/layouts/header' %>

	<% flash.each do |key,value| %>
	<%= content_tag(:div,value,class: "alert alert-#{key}" )%>
	<%end%>
  <div class="container"
<%= yield %>




</div>

<%= render '/layouts/footer' %>
 <!-- maybe I have to remove it later-->
 <script type="text/javascript">

	 $(function() {  // Setup drop down menu
	   $('.dropdown-toggle').dropdown();   
	   // Fix input element click problem 
	    $('.dropdown input, .dropdown label').click(function(e) {    e.stopPropagation();  });});
	</script>
  <script type="text/javascript"> 
  $(document).ready(function() { 
    $('.carousel').carousel({  interval: 2000 })
  }); 

</script>
<script type="text/javascript"> 
  $('#myCollapsibleExample').click(function() {
  $('.collapse').collapse('show');
  }); 
</script>
</body>
</html>
